* {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #302000;
	box-sizing: border-box;
}

h1{
	text-align: center;
	margin-bottom: 20px;
}

h2 {
	border: solid #302000;
	border-width: 2px;
	font-size: 1.2em;
	float: right;
	align-content: center;
}

p {
	clear: right;
}

#Chicken {
	background-color: #ff945e;
}

#Beef {
	background-color: #ffd75e;
}

#Pork {
	background-color: #fff25e;
}

.row {
	width: 100%;
}

.col-xs-4 {
	width: 33.33%;
}

.purpleContainer{
	margin: 10px;
	border: solid #302000;
	border-width: 2px;
	background-color: #f7e2be;
}

@media (min-width: 992px) {
	.col-lg-4{
		width: 33.33%;
		float: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
		float: left;
	}
	.col-md-6 {
		width: 50%;
	}

	.col-md-12 {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.col-sm-12 {
		width: 100%;
		float: left;
	}
}